<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="refresh" content="30"/>
  <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
  <title>Chat App</title>
</head>
<body>
<div>
  <div class="container-fluid">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6" align="center"><h1>Welcome to my chat app!</h1></div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-success">
        <div class="row">
          <form action="/register" method="post">
            <p>Username:</p>
            <input type="text" name="username" th:placeholder="${username}"/>
            <input type="submit" class="btn btn-primary" value="change"/>
          </form>
        </div>
        <p>Message:</p>
        <form action="/savemessage" method="post">
          <textarea name="text" rows="3" cols="30">...</textarea>
          <input type="submit" class="btn btn-primary" value="send"/>
        </form>
      </div>
      <div class="col-md-6">
        <table class="table table-striped" th:each="message : ${messages}">
          <tr>
            <td th:text="${message.getText()}"></td>
          </tr>
          <tr>
            <td th:text="'by ' + ${message.getUsername()} + ' at ' + ${message.getTimestamp()}"></td>
          </tr>
        </table>
      </div>
      <div class="col-md-3"></div>
    </div>
    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
  </div>
</div>
</body>
</html>